<!--The content below is only a placeholder and can be replaced.-->
<div class="container" style="text-align:center">
  <h1 class="title">
    Readme.io
  </h1>
  <img width="300" alt="Readme.io logo" src="assets/img/logo-readme.png">
  
<form class="example-form"  ng-controller="myCtrl">
  <mat-form-field class="example-full-width">
    <input type="text" placeholder="Pick one template" aria-label="Number" matInput [formControl]="templateControl" [matAutocomplete]="auto" #template>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Pick extension" #extension>
      <mat-option *ngFor="let extension of extensions" [value]="extension.value">
        {{ extension.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-button (click)="submitButton(template.value, extension.value)">Submit</button>
</form>

</div>

<app-barre-footer></app-barre-footer>