/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/pink-bluegrey.css';

$primaryColor : #0091EA;
$primaryFontColor : white;
$backgroundColor : #2d2d30;
$fontFamily: source-sans-pro;
$fontSize: 30px;

body {
    background: $backgroundColor;
}

.mat-form-field-ripple {
    background-color: $primaryColor;
}

.mat-input-element{
    caret-color: $primaryColor;
    color: $primaryFontColor;
}

.mat-focused .mat-form-field-label{
    color: $primaryColor;
}

.mat-button{
    background-color: $primaryColor;
    color: $primaryFontColor;
}

.mat-option-text{
    font-family: $fontFamily;
    font-size: 22px;
}

.mat-option.mat-selected:not(.mat-option-disabled){
    color: $primaryColor;
}

.mat-form-field.mat-focused.mat-primary .mat-select-arrow{
    color: $primaryColor;
}

.mat-form-field{
    font-family: $fontFamily;
    font-size: $fontSize;
    width: 400px;
}
.mat-form-field:nth-child(2){
    width: 250px;
}

.mat-button{
    font-family: $fontFamily;
    font-size: $fontSize;
    padding: 12px 16px;
}

.mat-select-panel{
    max-height: initial!important;
}