/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/pink-bluegrey.css';

$primaryColor : #0091EA;
$primaryFontColor : white;
$backgroundColor : #2d2d30;

body {
    background: $backgroundColor;
}
